@define-color selected-text #e6d4bd;
@define-color text #9ba7ba;
@define-color base #1d222c;
@define-color border #e6d4bd;
@define-color foreground #9ba7ba;
@define-color background #1d222c;

@define-color hover #e6d4bd;


window .search-container {
  background: alpha(@hover, 0.1);
  border: 2px solid alpha(@border, 0.8);
  border-radius: 8px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 18px;
  font-weight: 400;
  color: @selected-text;
  caret-color: @selected-text;
}

window .search-container text {
    
    color: @selected-text;
    caret-color: @selected-text;
}




window .box-wrapper {
    border-radius: 8px;
    box-shadow: 0 2px 6px alpha(@selected-text, 0.2);
    backdrop-filter: blur(10px);
    line-height: 70%;
}

window .item-text {
    font-weight: normal;
    color: @text;
    padding: 1px 2px;
}

window .preview {
    background: alpha(@base, 0.10);
    color: @foreground;
    padding: 2px;
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 10ms ease-out;
    backdrop-filter: blur(10px);
    border: 2px solid alpha(@selected-text, 0.8);
}

