@define-color selected-text #e6d4bd;
@define-color text #9ba7ba;
@define-color base #1d222c;
@define-color border #e6d4bd;
@define-color foreground #9ba7ba;
@define-color background #1d222c;

@define-color hover #e6d4bd;


window .search-container {
  background: alpha(@hover, 0.6);
  border: 2px solid alpha(@border, 0.8);
  border-radius: 4px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 18px;
  font-weight: 400;
  color: @base;
}

window .search-container text {
    all: unset;
    color: @base;
    caret-color: @base;
}

window .search-container:focus-within {
    border-color: @border;
    box-shadow: 0 8px 30px alpha(@selected-text, 0.35);
    color: @base;
}



window .box-wrapper {
    border-radius: 8px;
    box-shadow: 0 2px 12px alpha(@selected-text, 0.2);
    backdrop-filter: blur(10px);
    background: @base;
    line-height: 70%;
}

window .item-text {
    font-weight: normal;
    color: @text;
    padding: 1px 2px;
}

window .preview {
    background: alpha(@base, 0.10);
    color: @foreground;
    padding: 16px;
    margin: 8px 20px 16px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 180ms ease-out;
    backdrop-filter: blur(10px);
}

window:focus-within .preview {
    border: 2px solid @selected-text;
    background: alpha(@base, 0.25);
    box-shadow: 0 8px 32px alpha(@selected-text, 0.25);
}


