@define-color bg #1d222c;
@define-color fg #ffffff;
@define-color gray1 #BDC1B9;
@define-color gray2 #595f6c;
@define-color gray3 #9ba7ba;
@define-color gray4 #D5D0C4;
@define-color gray5 #9db5c8;
@define-color fg_bright #ffffff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}